.error {
  background-color: rgb(216, 122, 122);
  color: white;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  color: #fff;
  padding-left: 1rem;
  p{
    font-size: larger;
    font-weight: 700;
  }
  ul{
    list-style-type: none;
    display: flex;
    li{
      padding: 1rem;
      a{
        text-decoration: none;
        padding: 1rem;
        color: #fff;
      }
    }
  }
}

// Profile page
.profile_pic{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}